<div>
    @ErrorString
    <br />
    <br />
    @ErrorLine
    <br />
    <br />
    <button @onclick="Cancel" class="btn btn-primary">Cancel</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }
    [Parameter] public string ErrorString { get; set; }
    [Parameter] public int SourceLine { get; set; }

    async Task Cancel() => await BlazoredModal.CancelAsync();

    string ErrorLine = "";

    protected override void OnInitialized()
    {
        if (SourceLine > 0)
        {
            ErrorLine = $"Line: {SourceLine}";
        }
    }
}
